#include "Resource.h"
#include "afxres.h"

IDD_MAINDIALOG DIALOGEX 0, 0, 1200, 750
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_APPWINDOW
CAPTION "OpenGL MFC Application"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
    GROUPBOX        "Rendering Controls", IDC_GROUP_RENDER, 15, 15, 320, 200
    LTEXT           "Render Options", IDC_STATIC_TITLE, 25, 32, 100, 14
    PUSHBUTTON      "Start", IDC_BUTTON_START, 25, 55, 80, 25
    PUSHBUTTON      "Stop", IDC_BUTTON_STOP, 115, 55, 80, 25
    PUSHBUTTON      "Reset", IDC_BUTTON_RESET, 205, 55, 80, 25
    CHECKBOX        "Wireframe", IDC_CHECK_WIREFRAME, 25, 95, 90, 18
    CHECKBOX        "Smooth Shading", IDC_CHECK_SMOOTH, 25, 125, 110, 18
    CHECKBOX        "Depth Test", IDC_CHECK_DEPTH, 25, 155, 90, 18
    
    GROUPBOX        "Camera Control", IDC_GROUP_CAMERA, 15, 225, 320, 160
    LTEXT           "Camera Position", IDC_STATIC_TITLE, 25, 242, 100, 14
    LTEXT           "X:", IDC_STATIC_LABEL1, 25, 265, 15, 14
    EDITTEXT        IDC_EDIT_CAMERA_X, 45, 263, 60, 18, ES_NUMBER
    LTEXT           "Y:", IDC_STATIC_LABEL2, 115, 265, 15, 14
    EDITTEXT        IDC_EDIT_CAMERA_Y, 135, 263, 60, 18, ES_NUMBER
    LTEXT           "Z:", IDC_STATIC_LABEL3, 205, 265, 15, 14
    EDITTEXT        IDC_EDIT_CAMERA_Z, 225, 263, 60, 18, ES_NUMBER
    PUSHBUTTON      "Apply", IDC_BUTTON_APPLY, 25, 300, 70, 25
    
    GROUPBOX        "Status", IDC_GROUP_INFO, 15, 395, 320, 95
    LTEXT           "Status:", IDC_STATIC_LABEL4, 25, 412, 35, 14
    EDITTEXT        IDC_EDIT_STATUS, 25, 430, 280, 22, ES_READONLY | WS_BORDER
    LTEXT           "v1.0", IDC_STATIC_VERSION, 25, 460, 30, 14
    
    CONTROL         "", IDC_STATIC_OPENGL, "Static", SS_BLACKRECT | WS_CHILD | WS_VISIBLE | WS_BORDER, 350, 15, 835, 720
END
